/* СЕКЦИЯ О НАС */

.about-title {
  margin-top: 0px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  border-top: 1px solid #c8a35f;
  text-transform: uppercase;
  color: $main-text-color;
}

.about-text {
  margin-top: 0px;
  padding-bottom: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: $main-text-color;
}
